In [69]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [70]:
# set pandas
pd.set_option('display.width', 1000)

# use pandas to manage data
train_df = pd.read_csv('D:\STUDY\kaggle\csv/test.csv')
test_df = pd.read_csv('D:\STUDY\kaggle\csv/test.csv')
combine = [train_df, test_df]

In [71]:
train_df.columns.values

array([&#39;PassengerId&#39;, &#39;Pclass&#39;, &#39;Name&#39;, &#39;Sex&#39;, &#39;Age&#39;, &#39;SibSp&#39;, &#39;Parch&#39;,
       &#39;Ticket&#39;, &#39;Fare&#39;, &#39;Cabin&#39;, &#39;Embarked&#39;], dtype=object)

In [72]:
train_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [73]:
# 通过使用 percentiles=[.61, .62] 来查看数据集可以了解到生存率为 38%
train_df.describe(percentiles=[.61, .62])

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
61%    1146.370000    3.000000   31.000000    0.000000    0.000000   22.278308
62%    1150.540000    3.000000   31.220000    0.000000    0.000000   23.000000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [74]:
# 通过使用 percentiles=[.76, .77] 来查看Parch的分布
train_df.describe(percentiles=[.76, .77])

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
76%    1208.920000    3.000000   40.000000    1.000000    0.000000   31.813972
77%    1213.090000    3.000000   40.435000    1.000000    0.000000   36.750000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [75]:
# 通过使用 percentile=[.68, .69] 来查看SibSp的分布
train_df.describe(percentiles=[.68, .69])

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
68%    1175.560000    3.000000   35.000000    1.000000    0.000000   26.000000
69%    1179.730000    3.000000   36.000000    1.000000    0.000000   26.550000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [76]:
#通过使用 percentile=[.1, .2, .3, .4, .5, .6, .7, .8, .9, .99] 来查看Age和Fare的分布
train_df.describe(percentiles=[.1, .2, .3, .4, .5, .6, .7, .8, .9, .99])

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
10%     933.700000    1.000000   16.100000    0.000000    0.000000    7.641680
20%     975.400000    1.000000   20.000000    0.000000    0.000000    7.795800
30%    1017.100000    2.000000   22.000000    0.000000    0.000000    8.050000
40%    1058.800000    2.000000   25.000000    0.000000    0.000000   11.024980
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
60%    1142.200000    3.000000   30.000000    0.000000    0.000000   21.437520
70%    1183.900000    3.000000   36.000000    1.000000    0.000000   26.550000
80%    1225.600000    3.000000   42.000000    1.000000    1.000000   46.620000
90%    1267.300000    3.000000   50.000000    1.000000    1.300000   79.200000
99%    1304.830000    3.000000   64.000000    4.000000    4.000000  262.375000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [77]:
train_df.describe(include=['O'])

                        Name   Sex    Ticket            Cabin Embarked
count                    418   418       418               91      418
unique                   418     2       363               76        3
top     Watt, Miss. Bertha J  male  PC 17608  B57 B59 B63 B66        S
freq                       1   266         5                3      270

In [78]:
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

KeyError: &quot;[&#39;Survived&#39;] not in index&quot;

In [25]:
train_df[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

KeyError: &quot;[&#39;Survived&#39;] not in index&quot;